.container {
    border: 3px solid green;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
}
.blackjack-row-1, .blackjack-row-2, .blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
}
.blackjack-row-1, .blackjack-row-2{
    background: url('https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1218355494?k=20&m=1218355494&s=612x612&w=0&h=7izk2bQU_LDnKLLLbwAolAo4kwUmcwr_mo8_Vr7955w=') ;
    color: #ffffff;
}
.blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
}

.blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}

.blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
}
